div {
    margin: 0;
padding: 0;
}
.checkbox{
    height:100px;
}
.header-row{
    margin-top:10px;
}
.calculator-header {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: auto;
    background-color:#444488;;
    color:white;
}
.outer {
    position: relative;
    height: 100px;
}
.outer .calculator-header {
    position: absolute;
    bottom: 0;
    z-index: 2;
    left:0;
    top: auto;
}
.content {
    margin-top: 50px;
}
.yearCheckboxLabel{
    
}
.flatRoundedCheckbox
{
    width: 80px;
    height: 30px;
    margin: 0px 30px;
    position: relative;
}
.flatRoundedCheckbox div
{
    width: 100%;
    height:100%;
    background: #d3d3d3;
    border-radius: 50px;
    position: relative;
    top:-25px;
}
.flatRoundedCheckbox label
{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;

    cursor: pointer;
    position: absolute;
    top: 0px;
    z-index: 1;
    left: 8px;
    background: #FFF;
}
.flatRoundedCheckbox input[type=checkbox]
{
    margin-left:5px;
}

.flatRoundedCheckbox input[type=checkbox]:checked ~ div
{
    background: #4fbe79;
}

.flatRoundedCheckbox input[type=checkbox]:checked ~ label {
    left: 50px;
}
.calculator-heading{
    text-decoration:underline
}
.payMore{
    color:red;
}
.payLess{
    color:green;
}
nav .calculator-header{
     background-color:#444488;;
}

body { padding-top: 70px; }