@tim-fontcolor: #9B9B9B;
@tim-red: #D9534F;
@tim-orange: orange;
@tim-yellow: #F0AD4E;
@tim-green: #5CB85C;
@tim-blue: #5BC0DE;
@tim-grey: #999999;


div {
    margin: 0;
padding: 0;
}
.checkbox{
    height:100px;
}
.header-row{
    margin-top:10px;
}
.calculator-header {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: auto;
    background-color:#444488;;
    color:white;
}
.outer {
    position: relative;
    height: 100px;
}
.outer .calculator-header {
    position: absolute;
    bottom: 0;
    z-index: 2;
    left:0;
    top: auto;
}
.content {
    margin-top: 50px;
}
.yearCheckboxLabel{
    
}
.flatRoundedCheckbox
{
    width: 80px;
    height: 30px;
    margin: 0px 30px;
    position: relative;
}
.flatRoundedCheckbox div
{
    width: 100%;
    height:100%;
    background: #d3d3d3;
    border-radius: 50px;
    position: relative;
    top:-25px;
}
.flatRoundedCheckbox label
{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;

    cursor: pointer;
    position: absolute;
    top: 0px;
    z-index: 1;
    left: 8px;
    background: #FFF;
}
.flatRoundedCheckbox input[type=checkbox]
{
    margin-left:5px;
}

.flatRoundedCheckbox input[type=checkbox]:checked ~ div
{
    background: #4fbe79;
}

.flatRoundedCheckbox input[type=checkbox]:checked ~ label {
    left: 50px;
}
.calculator-heading{
    text-decoration:underline
}
.payMore{
    color:red;
}
.payLess{
    color:green;
}
nav .calculator-header{
     background-color:#444488;;
    background-color:#FFFFFF;
    color:@tim-grey;
         
}

body { padding-top: 40px; }


//red orance green blue gray
.gradient-line{
    min-height:0.5em;
    background: linear-gradient(to right, @tim-red, @tim-orange, @tim-green,  @tim-blue, @tim-grey);
}
.label{
    font-size:1.2em;
}
.calculator-header-title{
    margin-top:0px;
    margin-bottom:0px;
}


/*.label-1415{
    &:extend(.label-info);
}

.label-1314{
    &:extend(.label-success);
}*/
.label-1314, .label-1415, .label-diff,.label-input,.label-custom{
    color:black;
    border-style: solid;
    border-width: 1px;
    font-style: normal;
    font-weight:200;
}


.label-1314{
    border-color:@tim-green;
}
.label-1415{
    border-color:@tim-red;
}
.label-diff{
    border-color:@tim-orange;
}

.calculator-container input{
    .label-custom;
     display:inline;
     border-color:@tim-grey;  
     border-radius:  .25em;
}

.label-pay{
    .label-custom;
        border-width: 0px;

}




@font-face {
    font-family: 'icomoon';
    src:url('http://i.icomoon.io/public/temp/3189a29eaf/UntitledProject2/icomoon.eot?7nj1jy');
    src:url('http://i.icomoon.io/public/temp/3189a29eaf/UntitledProject2/icomoon.eot?#iefix7nj1jy') format('embedded-opentype'),
        url('http://i.icomoon.io/public/temp/3189a29eaf/UntitledProject2/icomoon.woff?7nj1jy') format('woff'),
        url('http://i.icomoon.io/public/temp/3189a29eaf/UntitledProject2/icomoon.ttf?7nj1jy') format('truetype'),
        url('http://i.icomoon.io/public/temp/3189a29eaf/UntitledProject2/icomoon.svg?7nj1jy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-svg:before {
    content: "\e600";
}
.tax-item{
//    padding-left:1.5em;
}
h4 small{
    text-decoration:inherit;
}
.total{
    text-decoration:underline;
    font-weight:100;
}
.total-total{
        font-weight:700;
}