<div style="postition:relative;margin 10px 0px 10px 0px">
    <div class="">
       <a href="http://www.code4.hk" target="_blank"><img style="z-index:9999;position: absolute; top: 0; left: 0; border: 0;" src="https://trello-attachments.s3.amazonaws.com/52998d087f8efc0d05011eec/52ad5642cb6eba6571011a25/5af35373d1d638925edb4a6fd807e19c/forkme_light_background.png" alt="Code for Hong Kong" data-canonical-src="https://trello-attachments.s3.amazonaws.com/52998d087f8efc0d05011eec/52ad5642cb6eba6571011a25/5af35373d1d638925edb4a6fd807e19c/forkme_light_background.png"></a>
   </div>
    <div class="calculator-header-title-container" ><h3 class="calculator-header-title">財政預算案2014-15計算器</h3></div>
   <div class="container-fluid calculator-header">
       <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="row">
        </div>
        <div class="row header-row">
            <div class="col-xs-4"></div>
            <div class="col-xs-1">
                <!-- <span class="yearCheckboxLabel">2013/14</span> -->
            </div>
            <div class=" col-xs-3">
<!--             <div class="flatRoundedCheckbox">
                <input type="checkbox" name="showYear" id="y2013Checkbox" ng-model="show2013" />
                <label for="y2013Checkbox"></label>
                <div></div>
            </div> -->
        </div>
        <div class="col-xs-1"> 
            <!-- <span class="yearCheckboxLabel">2014/15</span> -->
        </div>
        <div class=" col-xs-3">
<!--             <div class="flatRoundedCheckbox">
                <input type="checkbox" name="showYear" id="y2014Checkbox" ng-model="show2014" />
                <label for="y2014Checkbox"></label>
                <div></div>
            </div> -->
        </div>
    </div>
    <div class="row change">
        <div class="col-xs-5"></div>
        <div class=" col-xs-2 label label-success">13/14年</div>
        <div class=" col-xs-2 label label-danger">14/15年</div>
        <div class="col-xs-3 label label-warning">今年
        </div>
    </div>
    <div class="row change">
        <div class="col-xs-5"></div>
        <div class=" col-xs-2 label label-pay ">交${{y2013.total}}</div>
        <div class=" col-xs-2 label label-pay">交${{y2014.total}}</div>
        <div class="col-xs-3 label label-pay">
            <!-- ${{y2014.total-y2013.total}} -->
            <diff prop-key="total"></diff>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 gradient-line">   </div>
        
    </div>
</div>
</nav>
</div>
<div class="calculator-container container-fluid content">
<!--     <div class="calculator-header">
        <h1>Budget Calculator</h1>
        <div>Header2</div>
    </div>  
    <div class="outer">
        <span class="banner">LOGO</span>
        <div class="calculator-header"><div>Header1</div></div>
    </div>
    <div class="content">Content</div> -->
    <section>
        <h3 class="calculator-heading">生活開支</h3>
        <!-- 輸入資料，便可計算新預算案下今年交多幾多錢！ -->
<!--     <div class="row">
        <div class="col-xs-3 tax-item">
            <i class="fa fa-tint"></i>水費
        </div>
        <div class="col-xs-3 ">2013交：$<input class="label-input" type="text" ng-model="living.waterCount" maxlength="6" size="5">x 12 月</div>
        <div class="col-xs-2 y2013tax label label-1314">${{y2013.waterTax | number:2}}
        </div>
        <div class="col-xs-2 y2014tax label label-1415">${{y2014.waterTax | number:2}}
        </div>
        <div class="col-xs-3 label label-diff"><tax-diff prop-key="waterTax"></tax-diff> </div>
    </div> -->
    <div class="row">
        <div class="col-xs-2">
            <i class="fa fa-flash"></i>電費 <a href="https://www.clponline.com.hk/FAQ/ResidentialCustomersFAQ/Pages/govSubsidy.aspx#a01" target="_blank"><i class="fa fa-info-circle" taget="_blank"></i>中電資料</a>
        </div>
        <div class="col-xs-3">每月$<input tooltip-html-unsafe="{{electricityInputTooltip}}" class="label-input" type="text" ng-model="living.electricityCount" maxlength="4" size="4">x 12 月</div>
        <div class="col-xs-2 y2013tax label label-1314">${{y2013.electricityTax | number:2}}
        </div>
        <div class="col-xs-2 y2014tax label label-1415">${{y2014.electricityTax | number:2}}
        </div>
        <div class="col-xs-3 label label-diff"> 
           <tax-diff prop-key="electricityTax"></tax-diff>
       </div>
   </div>

   <div class="row">
    <div class="col-xs-2 tax-item">
        <span tooltip-html-unsafe="{{publicServiceInputTooltip}}" tooltip-placement="right"><i class="fa fa-flash"></i>差餉</span>
    </div>
    <div class="col-xs-3 ">每季$<input tooltip-html-unsafe="{{publicServiceInputTooltip}}" class="label-input" type="text" ng-model="living.publicServiceCount" maxlength="4" size="4">x 4 季</div>
    <div class="col-xs-2 y2013tax label label-1314">${{y2013.publicServiceTax | number:2}}
    </div>
    <div class="col-xs-2 y2014tax label label-1415">${{y2014.publicServiceTax | number:2}}
    </div>
    <div class="col-xs-3 label label-diff"> 
       <tax-diff prop-key="publicServiceTax"></tax-diff>
   </div>
</div>

<div class="row">
    <div class="col-xs-2 tax-item" >
        <span tooltip-html-unsafe="{{cigaretteInputTooltip}}" tooltip-placement="right"><span class="icon-svg"></span>煙草稅</span><a href="http://www.customs.gov.hk/tc/trade_facilitation/dutiable/types/index.html#tobacco" target="_blank"><i class="fa fa-info-circle"></i>入境署資料</a>
    </div>
    <div class="col-xs-3 tax-item">每星期 <input tooltip-html-unsafe="{{cigaretteInputTooltip}}" type="text" ng-model="living.cigaretteCount" maxlength="4" size="4">包<small>（20支捲煙）</small></div>
    <div class="col-xs-2 label label-1314 y2013tax"><div ng-show="show2013">${{y2013.cigaretteTax | number:2}}</div></div>
    <div class="col-xs-2 y2014tax label label-1415"><div ng-show="show2014">${{y2014.cigaretteTax | number:2}}</div></div>
    <div class="col-xs-3 label label-diff"> <tax-diff prop-key="cigaretteTax"></tax-diff>       </div>
</div>
<!-- <div class="row">
    <div class="col-xs-2">
        <span class="icon-transportation_car"></span>汽車首次登記稅
    </div>
    <div class="col-xs-3"><input type="number" ng-model="living.firstCarCount" maxlength="4" size="4">架 <small>以$14,0000計算</small></div>
    <div class="col-xs-2 y2013tax label label-1314">${{y2013.firstCarTax | number:2}}</div>
    <div class="col-xs-2 y2014tax label label-1415">${{y2014.firstCarTax | number:2}}</div>
    <div class="col-xs-3 label label-diff"><tax-diff prop-key="firstCarTax"></tax-diff></div>
</div> -->

<div class="row">
    <div class="col-xs-2 tax-item">
        <span tooltip-html-unsafe="{{publicHouseRentInputTooltip}}" tooltip-placement="right"><span class="fa fa-home"></span>公屋月租</span>
    </div>
    <div class="col-xs-3 tax-item">每月$<input tooltip-html-unsafe="{{publicHouseRentInputTooltip}}" type="text" ng-model="living.publicHouseRentCount" maxlength="6" size="5">x 12 月</div>
    <div class="col-xs-2 label label-1314 y2013tax">${{y2013.publicHouseRentTax | number:2}}
    </div>
    <div class="col-xs-2 label label-1415 y2014tax">${{y2014.publicHouseRentTax | number:2}}
    </div>
    <div class="col-xs-3 label label-diff"> 
       <tax-diff prop-key="publicHouseRentTax"></tax-diff>
   </div>
</div>

<div class="row">
    <div class="col-xs-5"><label class="total total-total">總計</label></div>
    <div class="col-xs-2 label label-1314 y2013tax total-total">${{y2013.livingTax}}</div>
    <div class="col-xs-2 label label-1415 y2014tax total-total">${{y2014.livingTax}}</div>
    <div class="col-xs-3 label label-diff total-total"><tax-diff prop-key="livingTax"></tax-diff></div> 
</div>

</section>
<!-- livingTax -->


<section>
    <h3 class="calculator-heading">薪俸稅</h3>
    <div class="row">
        <div class="col-xs-2 tax-item">總收入</div>
        <div class="col-xs-3">
            $<input tooltip-html-unsafe="{{incomeInputTooltip}}" type="text" ng-model="salaryTaxInfo.income" maxlength="10" size="8">
        </div>
        <div class="col-xs-2 label label-1314 y2013tax">${{salaryTaxInfo.income}}</div>
        <div class="col-xs-2 label label-1415 y2014tax">${{salaryTaxInfo.income}}</div>
        <div class="col-xs-2 label "> </div>
    </div>


    <h4 class="calculator-heading">扣除</h4>

    <!-- <div class="col-xs-12"></div> -->
    <!-- </div> -->
    <div class="row">
        <div class="col-xs-2 tax-item">總扣除:</div>
        <div class="col-xs-3">
            $<input tooltip-html-unsafe="{{deductionsInputTooltip}}" type="text" ng-model="salaryTaxInfo.deductions.othersCount" maxlength="10" size="8">
        </div>
        <div class="col-xs-2 label label-1314 y2013tax">${{salaryTaxInfo.deductions.othersCount}}</div>
        <div class="col-xs-2 label label-1415 y2014tax">${{salaryTaxInfo.deductions.othersCount}}</div>
        <div class="col-xs-2 label "> </div>
    </div>

    <h4 class="calculator-heading">免稅額</h4>
    <div class="row">
        <div class="col-xs-3">
            <label>婚姻狀況</label>  </div>
            <div class="col-xs-9">        
                <input type = "radio" name = "maritalStatus" ng-model="salaryTaxInfo.maritalStatus"
                id = "single" value = "single"
                checked = "checked" />
                <label for = "single">未婚／離異</label>

                <input type = "radio" name = "maritalStatus" ng-model="salaryTaxInfo.maritalStatus"
                id = "married" value = "married" />
                <label for = "married">已婚</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 tax-item">基本</div>
            <div class="col-xs-3">
            </div>

            <div class="col-xs-2 label label-1314 y2013tax">${{y2013.salary.allowancesEntitled.basicPerStatus}}</div>
            <div class="col-xs-2 label label-1415 y2014tax">${{y2014.salary.allowancesEntitled.basicPerStatus}}</div>
            <div class="col-xs-3 label label-diff"> 
               <diff prop-key="salary.allowancesEntitled.basicPerStatus" negative="false"></diff>
           </div>

       </div>
       <div class="row">
        <div class="col-xs-2 tax-item">供養子女數目</div>
        <div class="col-xs-3">
            <input tooltip-html-unsafe="{{childInputTooltip}}" type="text" ng-model="salaryTaxInfo.allowances.childCount" maxlength="2" size="2">
            課稅年出生： <input tooltip-html-unsafe="{{childInputTooltip}}" type="text" ng-model="salaryTaxInfo.allowances.bornChildCount" maxlength="2" size="2">
        </div>

        <div class="col-xs-2 label label-1314 y2013tax">${{y2013.salary.allowancesEntitled.totalChild}}</div>
        <div class="col-xs-2 label label-1415 y2014tax">${{y2014.salary.allowancesEntitled.totalChild}}</div>
        <div class="col-xs-3 label label-diff"> 
           <diff prop-key="salary.allowancesEntitled.totalChild" negative="false"></diff>
       </div>

   </div>

   <div class="row">
    <div class="col-xs-2 tax-item">單親免稅額</div>
    <div class="col-xs-3">
        <select ng-model="salaryTaxInfo.allowances.isSingleParent" ng-disabled="salaryTaxInfo.maritalStatus==='married'">
            <option value="false" selected="selected">否</option>
            <option value="true">是</option>
        </select>
    </div>
    <div class="col-xs-2 label label-1314 y2013tax">${{y2013.salary.allowancesEntitled.singleParent}} </div>
    <div class="col-xs-2 label label-1415 y2014tax">${{y2013.salary.allowancesEntitled.singleParent}}</div>
    <div class="col-xs-3 label label-diff"> 
       <diff prop-key="salary.allowancesEntitled.singleParent" negative="false"></diff>
   </div>
</div>

<div class="row">
</div>
<div class="row">
    <div class="col-xs-2 tax-item">供養父母／祖父母(60歲或以上／殘疾)數目</div>
    <!--TODO resided-->
    <div class="col-xs-3">同住: <input type="text" tooltip-html-unsafe="{{dependentParentsInputTooltip}}" ng-model="salaryTaxInfo.allowances.dependent60ParentsResidedWithCount" maxlength="2" size="2">
        非同住:  <input type="text" tooltip-html-unsafe="{{dependentParentsInputTooltip}}" ng-model="salaryTaxInfo.allowances.dependent60ParentsCount" maxlength="2" size="2">
    </div>

    <div class="col-xs-2 label label-1314 y2013tax">${{y2013.salary.allowancesEntitled.dependent60ParentsTotal}} </div>
    <div class="col-xs-2 label label-1415 y2014tax">${{y2014.salary.allowancesEntitled.dependent60ParentsTotal}}</div>
    <div class="col-xs-3 label label-diff"> 
       <diff prop-key="salary.allowancesEntitled.dependent60ParentsTotal" negative="false"></diff>
   </div>
</div>
<div class="row">
    <div class="col-xs-2 tax-item">供養父母／祖父母(55-59歲)數目</div>
    <div class="col-xs-3">同住: <input tooltip-html-unsafe="{{dependentParentsInputTooltip}}" type="text" ng-model="salaryTaxInfo.allowances.dependent55ParentsResidedWithCount" maxlength="2" size="2">
     非同住:  <input type="text" tooltip-html-unsafe="{{dependentParentsInputTooltip}}" ng-model="salaryTaxInfo.allowances.dependent55ParentsCount" maxlength="2" size="2">
 </div>

 <div class="col-xs-2 label label-1314 y2013tax">${{y2013.salary.allowancesEntitled.dependent55ParentsTotal}} </div>
 <div class="col-xs-2 label label-1415 y2014tax">${{y2014.salary.allowancesEntitled.dependent55ParentsTotal}}</div>
 <div class="col-xs-3 label label-diff"> 
   <diff prop-key="salary.allowancesEntitled.dependent55ParentsTotal" negative="false"></diff>
</div>
</div>

<h4 class="calculator-heading"><span tooltip-html-unsafe="{{reductionsTooltip}}" tooltip-placement="right">寬減 <i  class="fa fa-info-circle" taget="_blank"></i></span><a href="http://www.budget.gov.hk/2014/chi/highlights.html" target="_blank">詳情</a></small></h4>
<div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-2 label label-1314 y2013tax">${{y2013.salary.reductions}} </div>
    <div class="col-xs-2 label label-1415 y2014tax"> ${{y2014.salary.reductions}}</div>
    <div class="col-xs-3 label label-diff"> 
       <diff prop-key="salary.reductions" negative="false"></diff>
   </div>
</div>
<div class="row">
   <div class="col-xs-5" style="color:gray;font-size:0.8em">註：14-15年預算調整13-14年寬減稅額，這裏使用12-13及13-14方便比較)</div>
   <div class="col-xs-2 annotations" style="text-align: right;"><em>*12-13*</em> </div>
   <div class="col-xs-2 annotations" style="text-align: right;"><em>*13-14*</em> </div>
   <div class="col-xs-3"></div>
</div>

<h4 class="calculator-heading">總計</h4>


<div class="row">
    <div class="col-xs-5"><label class="total">總收入</label></div>
    <div class="col-xs-2 label label-1314 y2013tax">${{salaryTaxInfo.income}}</div>
    <div class="col-xs-2 label label-1415 y2014tax">${{salaryTaxInfo.income}}</div>
    <div class="col-xs-3 label label-diff"></div> 
</div>

<div class="row">
    <div class="col-xs-5"><label class="total">總扣除</label></div>
    <div class="col-xs-2 label label-1314 y2013tax">${{salaryTaxInfo.deductions.othersCount}}</div>
    <div class="col-xs-2 label label-1415 y2014tax">${{salaryTaxInfo.deductions.othersCount}}</div>
    <div class="col-xs-3 label label-diff"></div> 
</div>
<div class="row">
    <div class="col-xs-5"><label class="total">總免稅額</label></div>
    <div class="col-xs-2 label label-1314 y2013tax">${{y2013.salary.allowancesEntitled.total}}</div>
    <div class="col-xs-2 label label-1415 y2014tax">${{y2014.salary.allowancesEntitled.total}}</div>
    <div class="col-xs-3 label label-diff"><diff prop-key="salary.allowancesEntitled.total" negative="false"></div> 
</div>
<div class="row">
    <div class="col-xs-5"><label class="total">總寬減</label></div>
    <div class="col-xs-2 label label-1314 y2013tax">${{y2013.salary.reductions}} </div>
    <div class="col-xs-2 label label-1415 y2014tax">${{y2014.salary.reductions}} </div>
    <div class="col-xs-3 label label-diff"><diff prop-key="salary.reductions" negative="false"></div> 
</div>
<div class="row">
    <div class="col-xs-5"><label class="total total-total">總計</label></div>
    <div class="col-xs-2 label label-1314 y2013tax total-total">${{y2013.salaryTax}}</div>
    <div class="col-xs-2 label label-1415 y2014tax total-total">${{y2014.salaryTax}}</div>
    <div class="col-xs-3 label label-diff total-total"><diff prop-key="salaryTax" negative="false"></div> 
</div>
</div>
</div>
</section>




<div class="row">
    <!-- <div class="col-xs-10 col-sm-5 col-md-3"> <div >2013: ${{y2013.sumTax | number:2}}</div></div>  -->
    <!-- <div class="atom col-xs-10 col-sm-5 col-md-3"><div ng-show="show2014">2014: ${{y2013.sumTax | number:2}}</div></div>    -->
    <!-- <div class="atom col-xs-10 col-sm-5 col-md-3"><input type="number"> </div>    -->
</div>

<link rel="stylesheet" href="http://i.icomoon.io/public/temp/4ad175e1e9/UntitledProject2/style.css">
